apm-server:
  host: localhost:8200
  secret_token: {{ apm_secret_token }}
  rum:
    enabled: true
    allow_origins: ["{{ site_fqdn }}"]
ssl:
  enabled: true
  certificate: /etc/ssl/elk-certs/{{apm_server_fqdn}}.crt
  key: /etc/ssl/elk-certs/{{apm_server_fqdn}}.key
output.elasticsearch:
  hosts:
  - localhost:9200
