input {
    beats {
        port => 5044
        ssl => true
        ssl_certificate_authorities => ["/etc/ssl/elk-certs/{{elk_server_fqdn}}.crt"]
        ssl_certificate => "/etc/ssl/elk-certs/{{elk_server_fqdn}}.crt"
        ssl_key => "/etc/ssl/elk-certs/{{elk_server_fqdn}}.key"
        ssl_verify_mode => "force_peer"
    }
}

filter {
  if [fields][log_type] == "nginx_access" {
    grok {
      patterns_dir => "/etc/logstash/patterns"
      match => { "message" => "%{NGINX_ACCESS}" }
      overwrite => [ "message" ]
      remove_tag => [ "_grokparsefailure" ]
      add_tag => [ "nginx_access" ]
    }
    mutate {
      convert => ["response_status", "integer"]
      convert => ["response_bytes_sent", "integer"]
    }
    geoip {
      source => "remote_addr"
      target => "geoip"
      add_tag => [ "nginx-geoip" ]
      database => "/etc/logstash/GeoLite2-City.mmdb"
    }
    date {
      match => [ "timestamp" , "dd/MMM/YYYY:HH:mm:ss Z" ]
      remove_field => [ "timestamp" ]
    }
    useragent {
      source => "http_user_agent"
    } 
  }
}

output {
 elasticsearch {
   hosts => ["localhost:9200"]
   manage_template => false
   index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
 }
 stdout { codec => rubydebug }
}