server {
  listen 443 default ssl;
  server_name {{elk_server_fqdn}};
  ssl on;
  ssl_certificate /etc/ssl/elk-certs/{{elk_server_fqdn}}.crt;
  ssl_certificate_key /etc/ssl/private/inkmonk_com_2018/inkmonk.key;
 
  location / {
      proxy_pass https://127.0.0.1:5601;
      proxy_http_version 1.1;
      proxy_set_header Upgrade \$http_upgrade;
      proxy_set_header Connection 'upgrade';
      proxy_set_header Host \$host;
      proxy_cache_bypass \$http_upgrade;        
  }
}
