server {
  listen 443;
  server_name {{apm_server_fqdn}};
  ssl on;
  ssl_certificate /etc/ssl/elk-certs/{{apm_server_fqdn}}.crt;
  ssl_certificate_key /etc/ssl/elk-certs/{{apm_server_fqdn}}.key;

  location / {
    proxy_pass http://localhost:8200;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;

    proxy_set_header Access-Control-Request-Headers 'Content-Type';
    proxy_set_header Access-Control-Request-Method 'POST';
    proxy_set_header Origin "{{ site_fqdn }}";

    add_header "Access-Control-Allow-Origin"  "{{ site_fqdn }}";
    add_header "Access-Control-Allow-Methods" "POST, OPTIONS";
    add_header "Access-Control-Allow-Headers" "Content-Type";

  }
}